.App {
  text-align: center;
}
.txtarea{ 
  width:  calc(100vw - 50px);      /* calc and viewport to the rescue */
  height: 400px;
  font-family: Arial;
  font-size: 18px;
}
.txtimg{ 
  width:  calc(100vw - 50px);      /* calc and viewport to the rescue */
  height: 200px;
  font-family: Arial;
  font-size: 18px;
}
.txtbox{ 
  width:  calc(100vw - 50px);      /* calc and viewport to the rescue */
  font-family: Arial;
}
.divimagem{
  width:  10%;
  height: 10%;
   margin-left: auto;
  margin-right: auto;
}
.botao
{
   margin-left: 15px;
  display:inline-block;
  vertical-align:center;  
}
.fotoprojeto{
  display:inline-block;
}
.button{
  background-color: lightgray;
  border: none;
  color: darkred;
  padding: 8px 32px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}
.barra {
  background-color: lightgray;
  margin: 1px;
  text-align: center;
}
.center {
  margin: auto;
  width: 90%;
  border: 3px solid black;
  padding: 10px;
}
h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
}

h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.textousuario{
align-self:left;
display:inline-block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.imgvisualiza {
  width:  150%;
  height: 150%;
  border: 2px solid black;
}
.img2 {
  width:200px;
  height:200px;
  border: 2px solid black;
}
mark {
  background-color: #E33E3E;
  color: black;
}
.corpo {
   text-align:center;
}
.linha {
  display: flex;
}
.header {
   color: darkred;
   font-size: 230%;
   text-align:center;
}
.fant{
  opacity: 0.0;
  position: absolute;  left: -999999px;
}

.coluna {
  flex: 33.33%;
  padding: 5px;
}
p
{
  width : 100%;
  padding : 3%;
  font-family: Arial;
  font-size: 18px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

